---
import PageHeader from "../../../components/PageHeader.astro";
import Layout from "../../../layouts/Layout.astro";
import { getPage } from "../../../utils";

const page = await getPage("data-source");

const title = page.title;
const description = page.description;
const keywords = page.keywords;
---

<Layout title={title} description={description} keywords={keywords}>
  <PageHeader title={title}>
    <span slot="description" set:html={description}></span>
  </PageHeader>
  <!-- Start Highlights -->
  <section class="section">
    <div class="container">
      <div class="row align-items-top ">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4">Подключайте <span class="text-primary">несколько источников данных</span> и управляйте ими в одном месте</h5>
            <p class="text-muted">Данные часто разбросаны по CRM, ERP, финансовым и складским системам. Подключив их к NocoBase, можно объединить многоканальные данные и работать с ними через один интерфейс, сократив переключение между системами, устранив изоляцию данных и снизив стоимость сопровождения.</p>
          </div>
        </div><!--end col-->
        <div class="col-lg-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <video controls class="rounded shadow">
              <source src="https://static-docs.nocobase.com/DS-1.1-EN.mp4" type="video/mp4">
            </video>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4">Связывайте разные источники данных на фронтенде с помощью <span class="text-primary">потоков событий</span></h5>
            <p class="text-muted">Когда страница содержит блоки из нескольких источников, потоки событий позволяют настроить их взаимодействие. Так обеспечивается связка данных непосредственно на интерфейсе.<br>Например, просматривая клиента в CRM, можно параллельно получать его заказы из ERP.</p>
          </div>
        </div><!--end col-->
        <div class="col-lg-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <video controls class="rounded shadow">
              <source src="https://static-docs.nocobase.com/DS-1.2-EN.mp4" type="video/mp4">
            </video>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4">Связывайте источники данных на бэкенде с помощью <span class="text-primary">workflow</span></h5>
            <p class="text-muted">Если приложение NocoBase использует несколько источников данных, рабочие процессы помогают связать их логику на сервере и автоматизировать бизнес между системами.<br>Например, при создании нового заказа в ERP уровень клиента в CRM можно автоматически повысить до "Оплатил".</p>
          </div>
        </div><!--end col-->
        <div class="col-lg-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <video controls class="rounded shadow">
              <source src="https://static-docs.nocobase.com/DS-1.3-EN.mp4" type="video/mp4">
            </video>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- Highlights End -->
</Layout>